<% if(error_msg != '') { %>
    <p class="err">
        <i class="fa fa-exclamation-triangle"></i>
        <%= error_msg %>
    </p>
<% } %>

<% if(success_msg != '') { %>
    <p class="success">
        <i class="fa fa-check-circle"></i>
        <%= success_msg %>
    </p>
<% } %>